/* https://catppuccin.com/palette/  */
@define-color bg     #000000;
@define-color fg     #b4befe;
@define-color blk    #313244;
@define-color red    #f38ba8;
@define-color grn    #a6e3a1;
@define-color peach  #fab387;
@define-color yellow #f9e2af;
@define-color blu    #89b4fa;
@define-color mag    #cba6f7;
@define-color cyn    #74c7ec;
@define-color brblk  #45475a;
@define-color white  #f5e0dc;

* {
    font-family: "Fira Code", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 8px;
    color: @white;
    background-color: @bg;
    border: none;
    border-radius: 0;
    margin: 0;
    border-bottom: 4px solid @bg; 
    margin: 0 2px;  
}
#workspaces button.active {
    color: @mag;
    border-bottom: 4px solid @mag;  
    margin: 0 2px;  
}
#workspaces button.empty {
    color: @white;
    margin: 0 2px;  
}
#workspaces button.empty.active {
    color: @mag;
    border-bottom: 4px solid @mag;  
    margin: 0 2px;  
}
#workspaces button.urgent {
    color: @red;
    border-bottom: 4px solid @red;  
    margin: 0 2px;  
}

#workspaces button:hover {
    box-shadow: none;
    background: inherit;
    border-bottom-color: @inherit;
    margin: 0 2px;  
}

/* #workspaces button:hover { */
/*     border-bottom-color: @white; */
/* } */

#clock,
#custom-sep,
#cpu,
#memory,
#disk,
#network,
#language,
#pulseaudio,
#tray {
    padding: 0 8px;
    color: @white;
    background-color: @bg; 
}

#custom-sep {
    color: @brblk;
}

#clock {
    color: @cyn;
    border-bottom: 4px solid @cyn;
}

#disk {
    color: @peach;
    border-bottom: 4px solid @peach;
}

#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}

#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}

#network {
    color: @blu;
    border-bottom: 4px solid @blu;
}

#network.disconnected {
    background-color: @red;
}

#language {
  color: @red;
  border-bottom: 4px solid @red;
} 

#pulseaudio {
  color: @yellow;
  border-bottom: 4px solid @yellow;
}  
